.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
*.vsix
Dashboard-plan.md
Gamification-and-Inference-Workflow.pdf
VSCode-X-prompt.txt